@font-face {
  font-family: 'Brandey Regular';
  src: url('../../../assets/fonts/Brandey-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icons{
  padding-top: 2%;
}

.solucao-section {
  background-color: #D9DED5;
}

.titulo {
  font-family: 'Brandey Regular', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: black;

}

.subtitulo {
  color: black;
  max-width: 800px;
  margin-inline: auto;
  line-height: 1.6;
  font-size: 1.2rem;
}

.card {
  transition: transform 0.3s;
  border-radius: 0.75rem;
}

.card:hover {
  transform: translateY(-5px);
}

.info-box {
  background-color: #fff5f0;
  border: 2px solid #296B4F;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  max-width: 720px;
}

.info-box p {
  color: #333;
}

.destaque-numero {
  color: black;
  font-weight: 700;
}

.event-card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  position: relative;
  padding-top: 4rem;
  width: 180px;
  margin: 0 auto;
}

.icon-circle {
  width: 100px;
  height: 100px;
  background-color: #296B4F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.icon-img {
  width: 54px;
  height: 54px;
}

.icon-nome{
  color:black;
  font-size: 1.2rem;
}

.decor-line {
  width: 24px;
  height: 4px;
  background-color: #296B4F;
  border-radius: 4px;
  margin: 0 auto;
}


.gradient-btn {
  margin-top: 2rem;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  color: white;
  background: black;
  border: none;
  transition: transform 0.2s;
}

/* Responsivo */
@media (max-width: 576px) {
  .titulo {
    font-size: 1.6rem;
  }
  .subtitulo {
    font-size: 0.95rem;
  }
}
