<div class="header-container d-flex align-items-center justify-content-center">
  <div class="overlay w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="header-content text-center container">
      <h1 class="mt-5"><span>Realize seu evento</span> em espaços culturais de São Paulo</h1>

      <p class="mb-4 py-5">
        Espaços em museus tombados para locações corporativas,<br />
        sociais e celebrações com sofisticação e história.
      </p>


      <a href="#formulario-proposta" class="btn-proposta btn btn-light text-uppercase fw-bold px-4 py-2">
  Solicite uma Proposta
</a>
    </div>
  </div>
</div>
