<div class="header-container d-flex align-items-center justify-content-center">
  <div
    class="overlay w-100 h-100 d-flex align-items-center justify-content-center"
  >
    <div class="header-content text-center container">
      <h1 class="mt-5">
        <span>Realize seu evento</span> em espaços culturais de São Paulo
      </h1>

      <p class="mb-4 py-5">
        Locação para eventos corporativos e sociais em museus. Sofisticação,
        exclusividade e história.
      </p>

      <a
        href="#formulario-proposta"
        class="btn btn-outline-dark gradient-btn text-uppercase"
      >
        Solicite uma Proposta
      </a>
    </div>
  </div>
</div>
