<section class="museus-section bg-white text-dark">
  <div class="container text-center mb-5 mt-5">
    <h2 class="title">Museus-casa disponíveis para locação</h2>
    <p class="subtitle ">
      Ambientes com valor histórico, elegância e estrutura que transformam cada
      ocasião em uma experiência única.
    </p>

    <p class="subtitle mt-3">Escolha o Museu-Casa de sua preferência e personalize seu evento.</p>
  </div>

  <!-- MUSEU 1 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/casa-das-rosas.png"
        alt="Casa das Rosas"
        class="museu-img"
      />
      <div class="museu-info col-6">
        <p>
          Localizada no número 37 da Avenida Paulista, a Casa das Rosas é um dos
          últimos remanescentes da era dos palacetes com influências
          neoclássicas. Projetada em 1935 pelo arquiteto Ramos de Azevedo, hoje
          é um Museu-Casa dedicado à poesia e à literatura, reunindo charme,
          história e prestígio. <br /><br />
          Com um cenário elegante e atmosfera única, a Casa das Rosas oferece
          diversas possibilidades para eventos:
        </p>
        <ul>
          <li>Salas para reuniões e exposições</li>
          <li>Jardins em diferentes formatos</li>
          <li>Varandas ideais para sessões de fotos e filmagens</li>
        </ul>
        <p>
          Os horários são flexíveis, e o evento pode ser personalizado, desde
          que respeitadas as diretrizes relativas ao uso do patrimônio
          histórico.
        </p>
        <p>
          <em
            ><strong
              >Av. Paulista, 37 – Bela Vista, São Paulo – SP, 01311-000</strong
            ></em
          >
        </p>
        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>

  <!-- MUSEU 2 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/guilherme-de-almeida.png"
        alt="Casa Guilherme de Almeida"
        class="museu-img"
      />
      <div class="museu-info col-6">
        <p>
          A residência do poeta Guilherme de Almeida preserva o mobiliário
          original e obras de arte que remetem ao período modernista
          brasileiro.<br /><br />

          Seus jardins, conhecidos pela beleza e serenidade, estão disponíveis
          para eventos de pequeno porte, como lançamentos de livros, produtos e
          pequenas cerimônias — todos realizados sob a sombra de uma pitangueira
          centenária. <br /><br />

          Localizada na Rua Macapá, 187, a Casa está próxima à estação Sumaré do
          Metrô, com fácil acesso aos convidados. <br /><br />

          Os horários são flexíveis, e o evento pode ser personalizado, desde
          que respeitadas as diretrizes de preservação do patrimônio histórico.
        </p>
        <p>
          <em
            ><strong
              >R. Macapá, 187 – Pacaembu, São Paulo – SP, 01251-080</strong
            ></em
          >
        </p>
        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>

  <!-- MUSEU 3 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/mario-de-andrade.png"
        alt="Casa Mário de Andrade"
        class="museu-img"
      />
      <div class="museu-info">
        <p>
          Realizar um evento no Museu-Casa em que viveu <strong>Mário de Andrade</strong> é uma
          oportunidade única de alinhar sua marca a um dos maiores ícones da
          cultura brasileira. O espaço respira história, arte e inovação,
          proporcionando uma experiência simbólica e inspiradora. <br /><br />
          
          Localizada na Barra Funda, próxima à estação Marechal Deodoro, a 
          Casa Mário de Andrade está disponível para a realização de exposições, 
          reuniões, eventos corporativos e sociais. <br /><br />
          
          Seu ambiente artístico e histórico estimula a criatividade e enriquece o conteúdo de cada encontro. <br /><br />
          
          Os horários são flexíveis, e o evento pode ser personalizado, respeitando
          as diretrizes relativas ao uso do patrimônio histórico.
        </p>
        <p>
          <em
            ><strong
              >R. Lopes Chaves, 546 – Barra Funda, São Paulo – SP, 01154-010</strong
            ></em
          >
        </p>

        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>
</section>
