<section class="museus-section bg-white text-dark">
  <div class="container text-center mb-5 mt-5">
    <h2 class="title">Museus-casa disponíveis para locação</h2>
    <p class="subtitle">
      Ambientes com valor histórico, elegância e estrutura que transformam cada
      ocasião em uma experiência única.
    </p>

    <p class="subtitle mt-3">
      Escolha o Museu-Casa de sua preferência e personalize seu evento.
    </p>
  </div>

  <!-- MUSEU 1 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/casa-das-rosas.png"
        alt="Casa das Rosas"
        class="museu-img"
        data-bs-toggle="modal"
        data-bs-target="#modalMuseu1"
        data-bs-touch="true"
      />
      <div class="museu-info">
        <p>
          A Casa das Rosas é um dos últimos palacetes da Avenida Paulista com
          influências neoclássicas. Projetada em 1935 por Ramos de Azevedo, hoje
          é um Museu-Casa dedicado à poesia e à literatura — um espaço de
          charme, história e prestígio. <br /><br />
          Com um cenário elegante e atmosfera única, a Casa das Rosas oferece
          diversas possibilidades para eventos:
        </p>
        <ul>
          <li>Salas para reuniões e exposições</li>
          <li>Jardins em diferentes formatos</li>
          <li>Varandas ideais para sessões de fotos e filmagens</li>
        </ul>
        <p>
          Os horários são flexíveis, e o evento pode ser personalizado, desde
          que respeitadas as diretrizes relativas ao uso do patrimônio
          histórico.
        </p>
        <p>
          <em
            ><strong
              >Av. Paulista, 37 – Bela Vista, São Paulo – SP, 01311-000</strong
            ></em
          >
        </p>
        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>

  <!-- MUSEU 2 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/guilherme-de-almeida.png"
        alt="Casa Guilherme de Almeida"
        class="museu-img"
        data-bs-toggle="modal"
        data-bs-target="#modalMuseu2"
        data-bs-touch="true"
      />
      <div class="museu-info">
        <p>
          A residência do poeta Guilherme de Almeida preserva o mobiliário
          original e obras de arte que remetem ao período modernista
          brasileiro.<br /><br />

          Seus jardins, conhecidos pela beleza e serenidade, estão disponíveis
          para eventos de pequeno porte, como lançamentos de livros, produtos e
          pequenas cerimônias — todos realizados sob a sombra de uma pitangueira
          centenária. <br /><br />

          Localizada na Rua Macapá, 187, a Casa está próxima à estação Sumaré do
          Metrô, com fácil acesso aos convidados. <br /><br />

          Os horários são flexíveis, e o evento pode ser personalizado, desde
          que respeitadas as diretrizes de preservação do patrimônio histórico.
        </p>
        <p>
          <em
            ><strong
              >R. Macapá, 187 – Pacaembu, São Paulo – SP, 01251-080</strong
            ></em
          >
        </p>
        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>

  <!-- MUSEU 3 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/mario-de-andrade.png"
        alt="Casa Mário de Andrade"
        class="museu-img"
        data-bs-toggle="modal"
        data-bs-target="#modalMuseu3"
        data-bs-touch="true"
      />
      <div class="museu-info">
        <p>
          Realizar um evento no Museu-Casa em que viveu
          <strong>Mário de Andrade</strong> é uma oportunidade única de alinhar
          sua marca a um dos maiores ícones da cultura brasileira. O espaço
          respira história, arte e inovação, proporcionando uma experiência
          simbólica e inspiradora. <br /><br />

          Localizada na Barra Funda, próxima à estação Marechal Deodoro, a Casa
          Mário de Andrade está disponível para a realização de exposições,
          reuniões, eventos corporativos e sociais. <br /><br />

          Seu ambiente artístico e histórico estimula a criatividade e enriquece
          o conteúdo de cada encontro. <br /><br />

          Os horários são flexíveis, e o evento pode ser personalizado,
          respeitando as diretrizes relativas ao uso do patrimônio histórico.
        </p>
        <p>
          <em
            ><strong
              >R. Lopes Chaves, 546 – Barra Funda, São Paulo – SP,
              01154-010</strong
            ></em
          >
        </p>

        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>

  <!-- MODAL MUSEU 1 -->
  <div class="modal fade" id="modalMuseu1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-0">
        <div id="carouselMuseu1" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/img/casa-das-rosas-1.jpg"
                class="d-block w-100"
                alt=""
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/casa-das-rosas-2.jpg"
                class="d-block w-100"
                alt=""
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/casa-das-rosas-3.jpg"
                class="d-block w-100"
                alt=""
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselMuseu1"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselMuseu1"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <div class="modal-footer border-0 justify-content-center mb-3">
          <a
            href="https://api.whatsapp.com/send?phone=5511996685787&text=Olá!%20Quero%20proposta%20para%20Casa%20das%20Rosas"
            target="_blank"
            class="btn btn-outline-dark gradient-btn text-uppercase"
            >Solicite uma Proposta</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL MUSEU 2 -->
  <div class="modal fade" id="modalMuseu2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-0">
        <div id="carouselMuseu2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/img/guilherme-1.jpg"
                class="d-block w-100"
                alt=""
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/guilherme-2.jpg"
                class="d-block w-100"
                alt=""
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/img/guilherme-3.jpg"
                class="d-block w-100"
                alt=""
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselMuseu2"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselMuseu2"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <div class="modal-footer border-0 justify-content-center mb-3">
          <a
            href="https://api.whatsapp.com/send?phone=5511996685787&text=Olá!%20Quero%20proposta%20para%20Casa%20Guilherme%20de%20Almeida"
            target="_blank"
            class="btn btn-outline-dark gradient-btn text-uppercase"
            >Solicite uma Proposta</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL MUSEU 3 -->
  <div class="modal fade" id="modalMuseu3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-0">
        <div id="carouselMuseu3" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/mario-1.jpg" class="d-block w-100" alt="" />
            </div>
            <div class="carousel-item">
              <img src="assets/img/mario-2.jpg" class="d-block w-100" alt="" />
            </div>
            <div class="carousel-item">
              <img src="assets/img/mario-3.jpg" class="d-block w-100" alt="" />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselMuseu3"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselMuseu3"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <div class="modal-footer border-0 justify-content-center mb-3">
          <a
            href="https://api.whatsapp.com/send?phone=5511996685787&text=Olá!%20Quero%20proposta%20para%20Casa%20Mário%20de%20Andrade"
            target="_blank"
            class="btn btn-outline-dark gradient-btn text-uppercase"
            >Solicite uma Proposta</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="museus-section bg-white text-dark">
  <div class="container text-center mb-5 mt-5">
    <h2 class="title">Museus-casa disponíveis para locação</h2>
    <p class="subtitle">
      Ambientes com valor histórico, elegância e estrutura que transformam cada
      ocasião em uma experiência única.
    </p>
    <p class="subtitle mt-3">
      Escolha o Museu-Casa de sua preferência e personalize seu evento.
    </p>
  </div>

  <div class="container">
    <div class="row g-4 justify-content-center">
      <!-- MUSEU 1 -->
      <div class="col-12 col-md-6 col-lg-4 museu-item">
        <div class="museu-content card shadow-sm">
          <img
            src="assets/img/casa-das-rosas.png"
            alt="Casa das Rosas"
            class="card-img-top museu-img"
            data-bs-toggle="modal"
            data-bs-target="#modalMuseu1"
          />
          <div class="card-body museu-info">
            <h5 class="card-title">Casa das Rosas</h5>
            <p class="card-text">
              Av. Paulista, 37 – Bela Vista, São Paulo – SP
            </p>
            <a
              href="https://api.whatsapp.com/send?phone=55119996685787&text=Olá!%20Gostaria%20de%20uma%20proposta%20para%20Casa%20das%20Rosas"
              target="_blank"
              class="btn btn-outline-dark gradient-btn text-uppercase"
              >Solicite uma Proposta</a
            >
          </div>
        </div>
      </div>

      <!-- MUSEU 2 -->
      <div class="col-12 col-md-6 col-lg-4 museu-item">
        <div class="museu-content card shadow-sm">
          <img
            src="assets/img/guilherme-de-almeida.png"
            alt="Casa Guilherme de Almeida"
            class="card-img-top museu-img"
            data-bs-toggle="modal"
            data-bs-target="#modalMuseu2"
          />
          <div class="card-body museu-info">
            <h5 class="card-title">Casa Guilherme de Almeida</h5>
            <p class="card-text">R. Macapá, 187 – Pacaembu, São Paulo – SP</p>
            <a
              href="https://api.whatsapp.com/send?phone=55119996685787&text=Olá!%20Gostaria%20de%20uma%20proposta%20para%20Casa%20Guilherme%20de%20Almeida"
              target="_blank"
              class="btn btn-outline-dark gradient-btn text-uppercase"
              >Solicite uma Proposta</a
            >
          </div>
        </div>
      </div>

      <!-- MUSEU 3 -->
      <div class="col-12 col-md-6 col-lg-4 museu-item">
        <div class="museu-content card shadow-sm">
          <img
            src="assets/img/mario-de-andrade.png"
            alt="Casa Mário de Andrade"
            class="card-img-top museu-img"
            data-bs-toggle="modal"
            data-bs-target="#modalMuseu3"
          />
          <div class="card-body museu-info">
            <h5 class="card-title">Casa Mário de Andrade</h5>
            <p class="card-text">
              R. Lopes Chaves, 546 – Barra Funda, São Paulo – SP
            </p>
            <a
              href="https://api.whatsapp.com/send?phone=55119996685787&text=Olá!%20Gostaria%20de%20uma%20proposta%20para%20Casa%20Mário%20de%20Andrade"
              target="_blank"
              class="btn btn-outline-dark gradient-btn text-uppercase"
              >Solicite uma Proposta</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL MUSEU 1 -->
</section>
