<section class="museus-section bg-white text-dark">
  <div class="container text-center mb-5 mt-5">
    <h2 class="title">Museus disponíveis para locação</h2>
  </div>

  <!-- MUSEU 1 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/casa-das-rosas.png"
        alt="Casa das Rosas"
        class="museu-img"
      />
      <div class="museu-info col-6">
        <p>
          Na Avenida Paulista, a <strong>Casa das Rosas</strong> oferece espaços
          com valor histórico, charme arquitetônico e forte presença cultural.
          <strong
            >Um local indicado para eventos que priorizam tradição, visibilidade
            e posicionamento institucional.</strong
          >
        </p>
        <ul>
          <li>Jardim com paisagismo histórico</li>
          <li>Patrimônio tombado de relevância cultural</li>
          <li>Localização estratégica</li>
          <li>Ideal para recepções, lançamentos e ativações simbólicas</li>
        </ul>
        <p>
          <em
            ><strong
              >Av. Paulista, 37 – Bela Vista, São Paulo – SP, 01311-000</strong
            ></em
          >
        </p>
        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>

  <!-- MUSEU 2 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/guilherme-de-almeida.png"
        alt="Casa Guilherme de Almeida"
        class="museu-img"
      />
      <div class="museu-info col-6">
        <p>
          Situada no bairro Pacaembu, a
          <strong>Casa Guilherme de Almeida</strong> oferece ambientes
          sofisticados e intimistas em uma construção histórica. Ideal para
          eventos que valorizam o legado cultural e a exclusividade.
        </p>
        <ul>
          <li>Ambientes internos aconchegantes</li>
          <li>Jardins e áreas externas preservadas</li>
          <li>Atmosfera literária e clássica</li>
          <li>Fácil acesso e estacionamento próximo</li>
        </ul>
        <p>
          <em
            ><strong
              >R. Macapá, 187 – Pacaembu, São Paulo – SP, 01251-080</strong
            ></em
          >
        </p>
        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>

  <!-- MUSEU 3 -->
  <div class="museu-item">
    <div class="museu-content">
      <img
        src="assets/img/mario-de-andrade.png"
        alt="Casa Mário de Andrade"
        class="museu-img"
      />
      <div class="museu-info">
        <p>
          Localizada na Barra Funda, a
          <strong>Casa Mário de Andrade</strong> preserva a memória de um dos
          maiores ícones do modernismo brasileiro, oferecendo um ambiente
          repleto de história e identidade cultural.
        </p>
        <ul>
          <li>Residência histórica restaurada</li>
          <li>Ambiente intelectual e artístico</li>
          <li>Versátil para eventos institucionais e culturais</li>
          <li>Boa localização e acessibilidade</li>
        </ul>
        <p>
          <em
            ><strong
              >R. Lopes Chaves, 546 – Barra Funda, São Paulo – SP,
              01154-010</strong
            ></em
          >
        </p>

        <a
          href="#formulario-proposta"
          class="btn btn-outline-dark gradient-btn text-uppercase"
        >
          Solicite uma Proposta
        </a>
      </div>
    </div>
  </div>
</section>
