<footer class="footer-section">
  <div class="footer-top">
    <h3 class="footer-title">Nossos contatos</h3>
    <div class="footer-contact">
      <p>
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+551123023188">(11) 2302-3188</a>
      </p>

      <!-- <p>
        <i class="fa-brands fa-whatsapp"></i>
        <a href="https://wa.me/5511996685787" target="_blank" rel="noopener"
          >(11) 9 9668-5787</a
        >
      </p> -->

      <p>
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:comercial@afloracultural.com.br"
          >comercial&#64;afloracultural.com.br</a
        >
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    <img
      src="assets/img/logo-eventos.png"
      alt="Aflora Cultural"
      class="footer-logo"
    />
    <img src="assets/img/poiesis.png" alt="Poiesis" class="footer-logo" />
  </div>
</footer>
