<app-header></app-header>
<app-museus></app-museus>
<app-locacao></app-locacao>
<app-carousel></app-carousel>
<app-sobre></app-sobre>
<app-depoimentos></app-depoimentos>
<app-form></app-form>
<app-footer></app-footer>
<!-- botões flutuantes (Topo + WhatsApp) -->
<div class="float-buttons">
  <!-- Scroll to top -->
  <button
    class="float-btn btn btn-top"
    (click)="scrollToTop()"
    aria-label="Voltar ao topo"
    title="Voltar ao topo"
  >
    <i class="fas fa-chevron-up"></i>
  </button>

  <!-- WhatsApp -->
  <a
    class="float-btn btn  btn-whatsapp"
    href="https://wa.me/5511996685787?text=Ol%C3%A1!%20Tenho%20interesse%20em%20saber%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20loca%C3%A7%C3%A3o%20dos%20Museus-casa,%20por%20favor.%20"
    target="_blank"
    rel="noopener"
    aria-label="WhatsApp"
    title="Fale conosco no WhatsApp"
  >
    <i class="fab fa-whatsapp"></i>
  </a>
</div>

<router-outlet></router-outlet>
