<section class="museus py-5 text-center container">
  <h2 class="titulo">
    Por que escolher nossos museus para o
    <span class="marcado">seu evento</span> ?
  </h2>

  <p class="subtitulo mt-3 mb-3">
    Realizar evento corporativo ou social em um museu é
    <strong>simbólico</strong> e <strong>estratégico.</strong>
  </p>

  <div class="diferenciais-blocos container text-center py-5">
    <div class="row justify-content-center mb-4">
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img
            src="assets/img/icon-diamante.png"
            alt="Ambientes Exclusivos"
            class="mb-3"
          />
          <p class="icone-texto">Ambiente Memorável</p>
          <p class="icone-subtexto">
            Cenários únicos, patrimônios históricos que encantam os convidados e
            criam uma atmosfera de prestígio, cultura e inspiração.
          </p>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img src="assets/img/icon-local.png" alt="Localização" class="mb-3" />
          <p class="icone-texto">Localização<br />Privilegiada</p>
          <p class="icone-subtexto">
            Os Museus-Casa ficam em locais estratégicos e de fácil acesso em São
            Paulo.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img
            src="assets/img/visibilidade.png"
            alt="Visibilidade"
            class="mb-3"
          />
          <p class="icone-texto">Visibilidade</p>
          <p class="icone-subtexto">
            Consolida o evento como uma referência para convidados e parceiros.
          </p>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img
            src="assets/img/icon-infra.png"
            alt="Infraestrutura"
            class="mb-3"
          />
          <p class="icone-texto">Impacto Social</p>
          <p class="icone-subtexto justify-content-center">
            Seu evento ajuda a preservar a infraestrutura dos Museus-Casa,
            fotalecendo seu papel cultural e social.
          </p>
        </div>
      </div>
    </div>
  </div>

  <a href="#formulario-proposta" class="btn-gradiente">
    Solicite uma Proposta
  </a>
</section>
