<section class="museus py-5 text-center container">
  <h2 class="titulo">
    Por que escolher <br />nossos museus para <br />o
    <span class="marcado">seu evento</span>?
  </h2>

  <p class="subtitulo mt-3 mb-3">
    Mais do que locações,
    <strong>nossos espaços oferecem história</strong>, sofisticação e
    <strong>estrutura completa</strong>
    para transformar eventos em experiências memoráveis.
  </p>

  <div class="diferenciais-blocos container text-center py-5">
    <div class="row justify-content-center mb-4">
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img
            src="assets/img/icon-diamante.png"
            alt="Ambientes Exclusivos"
            class="mb-3"
          />
          <p class="icone-texto">Ambientes<br />Exclusivos</p>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img src="assets/img/icon-local.png" alt="Localização" class="mb-3" />
          <p class="icone-texto">Localização<br />Privilegiada</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img
            src="assets/img/icon-versatilidade.png"
            alt="Versatilidade"
            class="mb-3"
          />
          <p class="icone-texto">Versatilidade<br />de Eventos</p>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="box px-3 py-3 rounded shadow-sm">
          <img
            src="assets/img/icon-infra.png"
            alt="Infraestrutura"
            class="mb-3"
          />
          <p class="icone-texto">Infraestrutura<br />Completa</p>
        </div>
      </div>
    </div>
  </div>

  <a href="#formulario-proposta" class="btn-gradiente">
    Solicite uma Proposta
  </a>
</section>
