/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #212121; /* ajuste opcional para cor padrão do texto */
  margin: 0;
  padding: 0;
}

* {
  font-family: inherit;
}
html {
  scroll-behavior: smooth;
}


.header-container {
  position: relative;
  height: 70vh;
  background:
    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('/assets/img/background-header.png') center/cover no-repeat;
}

@media (max-width: 480px) {
  .header-container {
    background:
      linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
      url('/assets/img/background-header-mobile.png') center/cover no-repeat;

    height: 590px;
  }
}

