<section class="section-sobre py-5">
  <div class="container text-center">
    <h1 class="text-center">Sobre nós</h1>

    <div class="row align-items-center justify-content-center g-4">
      <div class="col-12 col-md-7">
        <p class="sobre-text">
          Os Museus-Casa são patrimônios históricos sob responsabilidade da
          Secretaria da Cultura, Economia e Indústria Criativas do Estado de São
          Paulo, com gestão cultural realizada pelo instittuto Poiesis –
          Organização Social de Cultura. <br /><br />
          A Aflora Eventos é responsável pela mobilização de recursos.
        </p>
      </div>

      <div class="col-12 col-md-4 text-center">
        <img
          src="../../../assets/img/logo-poiesis-aflora.png"
          alt="Logo Aflora Eventos"
          class="logo-img"
        />
      </div>
    </div>
    <a
      href="#formulario-proposta"
      class="btn btn-outline-dark gradient-btn text-uppercase mt-4"
    >
      Solicite uma Proposta
    </a>
  </div>
</section>
